@font-face {
  font-family: Header;
  src: url("./assets/From\ Cartoon\ Blocks.ttf");
}

body {
  background-color: black;
}

.inputph {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: Header;
  font-weight: bold;
  font-size: 60px;
  color: white;
}

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#images > * {
  max-width: 95vw;
  height: auto;
}

#msg {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: fixed;
  display: none;
  background-color: white;
}
